# first list the packages you wish to download from PyPI
teachbooks == 0.1.0 # depends on jupyter-book
jupyterbook-patches==1.3.0
sphinx-image-inverter == 1.0.4
download_link_replacer == 1.0.4
sphinx-tudelft-theme == 1.1.4
sphinx-exercise == 1.0.1
sphinx-named-colors == 1.0.1
teachbooks-sphinx-tippy == 1.0.6

# now list the packages (and the respective url) you wish to download from the GitLab package registry
--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
sphinx-thebe ~= 0.9.9