:root {
    --newcolor: rgb(111, 29, 119);
    --cA2: rgb(1,113,136);
    --cB: rgb(195,49,47);
}

.cA {color: var(--cA2);}
.cB {color: var(--cB);}

html[data-theme="dark"] .cA2 {
  filter:  invert(1) hue-rotate(180deg) saturate(1.5);
}

html[data-theme="dark"] .cB {
    filter:  invert(1) hue-rotate(180deg) saturate(1.5);
  }

.newcolor {color: var(--newcolor);}

html[data-theme="dark"] .newcolor {
  filter:  invert(1) hue-rotate(180deg) saturate(1.5);
}